In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kdheee\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\kdheee\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\kdheee\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kdheee\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\kdheee\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
import pandas as pd #약어를 통해 라이브러리 import

In [3]:
pd.DataFrame({'a': [1,2,3], 'b': [4,5,6]})

   a  b
0  1  4
1  2  5
2  3  6

del '라이브러리'를 통해 모듈을 삭제할 수도 있음