In [1]:
fruit = ['사과', '귤', '수박']
for i in fruit :
    print(i)

사과
귤
수박

In [2]:
a = [100, 200, 300]

for i in a :
    print(i + 10)

110
210
310

In [3]:
b = [1, 2, 3]

for i in b :
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

In [7]:
c = [1, 2, 3]

for i in c :
    print(f'3 x {i} =',3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [15]:
리스트 = ["가", "나", "다", "라"]

for i in range(1, 4) :
    print(리스트[i])

for i in 리스트[1:] :
    print(i)

나
다
라
나
다
라

In [16]:
l_sam_1 = [3, -20, -3, 44]

for i in l_sam_1 :
    if i < 0 :
        print(i)

-20
-3

In [17]:
for i in range(100) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [19]:
first_cup = 2002

for world_cup in range(2002, 2051) :
    if world_cup == first_cup :
        print(world_cup)
        first_cup += 4

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [25]:
my_list = ['가', '나', '다', '라']

for i in range(3) :
    i = -i-1
    print(my_list[i], my_list[i-1])
    i = -i

라 다
다 나
나 가

In [27]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(len(low_prices)) :
    volt = high_prices[i] - low_prices[i]
    volatility.append(volt)

print(volatility)

[50, 100, 30, 80, 0]

In [28]:
apart = [['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [29]:
stock = [['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [1]:
stock = {"시가" : [100, 200, 300], "종가" : [80, 210, 330]}
print(stock, type(stock))

{'시가': [100, 200, 300], '종가': [80, 210, 330]} <class 'dict'>

In [14]:
apart = [[101, 102], [201, 202], [301, 302]]

# apart[0][0] / apart[0][1] / apart[1][0] / ...

for i in range(3) :
    for j in range(2) :
        print(apart[i][j], "호")

print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [17]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

# open, high, low, close
# 수수료 = 0.014%

for i in data :
    for j in i :
        print(j*1.00014)
    print("-----")

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

In [25]:
result = []

for i in data :
    sub = []
    for j in i :
        sub.append(j*1.00014)
    result.append(sub)

result

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

# ohlc[0] : key값 / ohlc[1~3]은 value 값 으로 지정